@charset "utf-8";

$fullhd-enabled: false;
$widescreen-enabled: false;

$blue: hsl(208, 55%, 45%);
$green: hsl(122, 35%, 50%);

$primary: $green;
$info: $blue;
$link: $primary;
$link-hover: $primary;
$footer-background-color: hsl(0, 0%, 16%);
$code: hsl(0, 0%, 16%);

$family-sans-serif: "Titillium Web", sans-serif;

@import "bulma/bulma";


.section, .hero-body {
	padding-right: 0;
	padding-left: 0;
}

@media only screen and (max-width: 1020px) {
	.container {
		padding: 0 2em;
	}
}

.figure img {
	width: auto;
	max-width: 100%;
}
