@import "bulma";

article {
	line-height: 1.6;
	font-size: 20px;

	h1, h2, h3, h4, h5, h6 {
		line-height: 1.1;
	}

	p {
		margin-top: 0;
		margin-bottom: 1.5rem;
		word-wrap: break-word;
	}
}

.posts {
	display: flex;
	flex-direction: column;
	gap: 6em;
}

.post {
	position: relative;
	padding-bottom: 1rem;

	time {
		line-height: 1.125;
	}

	.readmore {
		background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), white);

		padding-top: 3rem;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
	}
}


.card.is-horizontal {
	display: flex;
	flex-direction: row;
	overflow: hidden;

	.card-content {
		flex: 1 1 auto;
	}

	.card-image {
		flex: 1 1 44%;
		display: block;
		position: relative;

		&:first-child img {
			border-radius: 0;
		}

		figure {
			position: absolute;
			width: 100%;
			height: 100%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}

.hero {
	position: relative;

	.hero-image {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;

		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;

		filter: brightness(0.8);
	}

	&.hero-shadow {
		.title, .subtitle {
			text-shadow: 3px 3px 3px rgba(10,10,10,0.2);
		}
	}
}

.seperator-right {
	border-right: 1px solid rgba(10, 10, 10, 0.1);
}


.image-cover  img{
	object-fit: cover;
}
