<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>
		{{ page.title }}
		{% if page.title != site.name %}
			- {{ site.name }}
		{% endif %}
	</title>

	<link rel="stylesheet" href="/static/style.css?v=2">
	<link rel="stylesheet" href="/static/css/all.min.css">

	<link rel="icon" href="/static/minetesticon.png">

	<meta name="og:title" content="{{ page.title }}" />
	<meta name="og:url" content="{{ page.url | absolute_url }}" />
	<meta name="twitter:card" content="summary" />
	<meta name="twitter:title" content="{{ title }}" />

	{% if page.description %}
		<meta name="description" content="{{ page.description }}" />
		<meta name="og:description" content="{{ page.description }}" />
		<meta name="twitter:description" content="{{ page.description }}" />
	{% endif %}

	{% if page.image %}
		<meta name="og:image" content="{{ page.image | absolute_url }}" />
		<meta name="twitter:image" content="{{ page.image | absolute_url }}" />
	{% endif %}

	{% if page.tags %}
		<meta name="keywords" content="{{ page.tags | join: ', ' }}" />
	{% endif %}

	<link rel="alternate" type="application/atom+xml"
		href="{{ '/feed.xml' | absolute_url}}" title="{{ site.name | xml_escape }}" />

	<link rel="alternate" type="application/rss+xml"
		href="{{ '/feed.rss' | absolute_url}}" title="{{ site.name | xml_escape }}" />

	<link rel="alternate" type="application/feed+json"
		href="{{ '/feed.json' | absolute_url}}" title="{{ site.name | xml_escape }}" />

	<link rel="alternate" type="application/json"
		href="{{ '/feed.json' | absolute_url}}" title="{{ site.name | xml_escape }}" />
</head>
<body>
	{% include navbar.html %}
	{{ content }}

	<script async src="/static/navbar.js"></script>

	<footer class="footer mt-6">
		<div class="content has-text-centered has-text-grey">
			<p>
				Minetest Blog &copy; contributors.
				The <a href="https://github.com/minetest/blog">source code</a>
				is licensed under
				<a href="https://opensource.org/licenses/MIT">MIT</a>.
			</p>
		</div>
	</footer>
</body>
</html>
