---
layout: default
---

{% assign cover_image = page.image %}
{% if page.image_has_full %}
	{% assign cover_image = cover_image | replace: ".jpg", "_full.jpg" | replace: ".png", "_full.png" %}
{% endif %}

<header class="hero hero-shadow is-medium is-primary">
	<div class="hero-image" style="background-image: url('{{ cover_image }}');"></div>
	<div class="hero-body">
		<div class="container">
			<h1 class="title">{{ page.title }}</h1>
			<p class="subtitle">
				{%- if page.authors -%}
					Written by
					{%- for author in page.authors -%}
						{%- assign data = site.data.authors[author] -%}
						{%- if data -%}
							<a href="{{ data.url }}">
								{{author -}}
							</a>
						{%- else -%}
							{{ author -}}
						{%- endif -%}

						{%- if forloop.last == false -%}
							,
						{%- endif -%}
					{%- endfor -%}
				{%- endif -%}

				{%- if page.editors -%}
					<br>Edited by
					{%- for editor in page.editors -%}
						{% assign data = site.data.authors[editor] %}
						{% if data %}
							<a href="{{ data.url }}">
								{{editor -}}
							</a>
						{% else %}
							{{ editor -}}
						{% endif %}

						{%- if forloop.last == false -%}
							,
						{%- endif -%}
					{%- endfor -%}
				{%- endif -%}
			</p>
			<p>
				{% for tagname in page.tags %}
					{% assign tag = site.my_tags | where: "slug", tagname | first %}
					<a class="tag is-primary" href="{{ tag.url }}">
						{{ tag.title }}
					</a>
				{% endfor %}
			</p>
		</div>
	</div>
</header>

<main class="container my-6">
	<article class="content">
		<script type="application/ld+json">
			{
				"@context": "https://schema.org",
				"@type": "BlogPosting",
				"headline": {{ page.title | jsonify }},
				"image": {{ cover_image | absolute_url | jsonify }},
				"wordcount": {{ page.content | number_of_words | jsonify }},
				"url": {{ page.url | absolute_url | jsonify }},
				"datePublished": {{ page.date | date: "%F" | jsonify }},
				"dateCreated": {{ page.date | date: "%F" | jsonify }},
				"description": {{ page.description | jsonify }},
				"articleBody": {{ content | jsonify }},
				"inLanguage": "en",
				"mainEntityOfPage": "True",
				{% if page.author %}
					"author": {
						"@type": "Person",
						"name": {{ page.author | jsonify }},
						"url": {{ author.url | jsonify }}
					},
				{% else %}
					"author": {
						"@type": "Organization",
						"name": "Luanti",
						"url": "https://www.luanti.org",
						"logo": {
							"@type": "ImageObject",
							"url": "https://www.luanti.org/media/icon.svg"
						}
					},
				{% endif %}
				"publisher": {
					"@type": "Organization",
					"name": "Luanti",
					"url": "https://www.luanti.org",
					"logo": {
						"@type": "ImageObject",
						"url": "https://www.luanti.org/media/icon.svg"
					}
				}
			}
		</script>

		{{ content }}

		{% if page.contributors or page.image_credit %}
			<p class="mt-6 has-text-grey">
				{% if page.contributors %}
					Thanks to our post contributors this month:
					{{ page.contributors | join: ", " }}.
				{% endif %}
				{% if page.image_credit %}
					Cover image by {{ page.image_credit }}.
				{% endif %}
			</p>
		{% endif %}
	</article>

	<div class="section is-medium">
		<div class="columns is-vcentered is-variable is-7">
			{% if page.forum_topic %}
				<div class="column has-text-right seperator-right">
					<a href="{{ page.forum_topic }}" class="button is-primary is-large">
						<i class="fas fa-comments mr-3"></i>
						Discuss on the forums
					</a>
				</div>
			{% endif %}
			<div class="column">
				<p class="mb-1">Share:</p>
				<p class="my-0">
					<a class="button is-small" href="https://twitter.com/intent/tweet/?text={{ page.title | url_escape }}%20{{ page.url | absolute_url | url_escape }}">
						<i class="fab fa-twitter"></i>
					</a>
					<a class="button is-small" href="https://facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | url_escape}}">
						<i class="fab fa-facebook"></i>
					</a>
					<a class="button is-small" href="https://reddit.com/submit/?url={{ page.url | absolute_url | url_escape }}">
						<i class="fab fa-reddit"></i>
					</a>
					<a class="button is-small" href="https://www.tumblr.com/widgets/share/tool?posttype=link&amp;title={{ page.title | url_escape }}&amp;caption={{ page.title | url_escape }}&amp;content={{ page.url | absolute_url | url_escape }}&amp;canonicalUrl={{ page.url | absolute_url | url_escape }}&amp;shareSource=tumblr_share_button">
						<i class="fab fa-tumblr"></i>
					</a>
					<a class="button is-small" href="mailto:?subject={{ page.title | url_escape }}&amp;body={{ page.url | absolute_url | url_escape }}">
						<i class="fas fa-envelope"></i>
					</a>
				</p>
			</div>
		</div>
	</div>
</main>
